<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <title>Login</title>
</head>

<body>
    <nav th:replace="index :: navbar"></nav>
    <div class="container">
        <div class="formBox">
            <h4 class="mt-4"> Login </h4>
            <form form method="POST" action="#" th:action="@{/login}" th:object="${user}">
                <div class="alert alert-danger" role="alert" th:if="${ErrorMsg}">
                    <strong th:text="${ErrorMsg}"></strong>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input class="form-control" th:field="*{email}" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label" type="password">Senha</label>
                    <input class="form-control" th:field="*{password}" required>
                </div>
                <button type="submit" class="btn btn-success">Entrar</button>
            </form>
        </div>
    </div>
</body>